<h1> Article Listing Page </h1>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'shared/articles' %>

<p>
<%= link_to('Create new Article', new_article_path) %>
</p>