<h1>
  Hello World
</h1>

<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<table>
  <tr>
    <th> Username <th>
    <th> Action <th>
  </tr>
  <% @users.each do |u| %>
    <tr>
    <td> <h1><%= u.username %> </h1> <td>
    <td>
      <%= link_to('show', user_path(u)) %>
      <% if logged_in? && u == current_user %>
        <%= link_to('Edit', edit_user_path(u)) %>
      <% end %>
    <td>
    </tr>
  <% end %>
</table>
