<h1> <%= @user.username %> </h1>

<%= link_to('Logout', logout_path, method: :delete) %>

<h3> Articles </h3>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'shared/articles' %>