<h1 class="text-3xl">Hello from the home page</h1>
<p>
  <%= link_to('Article Page', articles_path) %> | 
  <%= link_to('About Page', about_path) %> |
  <%= link_to('Login', login_path) %> | 
  <%= link_to('Sign Up', signup_path) %>
</p>
