<h1> Category Name: <%= @category.name %> </h1>
<% if logged_in? && current_user.admin? %>
  <%= link_to('Edit Category Name', edit_category_path(@category)) %>
<% end %>

<h3> Articles </h3>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'shared/articles' %>